*:not(h1):not(h2){
  background: linear-gradient(300deg ,#EDE8DC, #E7CCCC,#C1CFA1);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  font-weight: normal;
  font-family: Calibri;
}

h1{
  text-align: center;
}

h2{
  text-decoration: underline;
}

a.contact-text {
  padding: 0 120px; /* Space around each link */
}

footer{
  text-align: center;
}
